<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div style="text-align:center">
       
      <!-- 告诉服务器我上传的是一个什么类型：enctype="multipart/form-data" -->

      <form action="/parse" method="post" enctype="multipart/form-data">
          <input type="file" name="sfile">
          <input type="submit" name="sub" value="上传">
      </form>
  </div>
  </body>
</html>
