<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        {{msg}};
        <div v-if="islogin">111</div>
        <div v-else>222</div>
        
        <div v-if="str == 'A'">A</div>
        <div v-else-if="str == 'B'">B</div>
        <div v-else-if="str == 'C'">C</div>
        <div v-else>else</div>

    </div>
    
    <script src="vue.js"></script>
    <script>
        new Vue({
        
        el:"#app",
        data:{
            msg:"hello  world",
            islogin:false,
            str:"D",
            }
        });
        

        
    
    </script>
</body>
</html>